<!-- Footer -->
<footer class="page-footer font-small">
  <div class="footer__header">
    <h6 class="mb-0 footer__header--title">Rejoignez-moi sur les réseaux sociaux !</h6>
    <div class="social">
      <button (click)="redirect(githubUrl)" class="btn btn-floating git" type="button" mdbBtn mdbWavesEffect><i
        class="fab fa-github"></i></button>
      <button (click)="redirect(discordUrl)" class="btn btn-floating discord" type="button" mdbBtn mdbWavesEffect><i
        class="fab fa-discord"></i></button>
      <button (click)="redirect(linkedinUrl)" class="btn btn-floating linkedin" type="button" mdbBtn mdbWavesEffect>
        <i class="fab fa-linkedin-in"></i>
      </button>
      <button (click)="redirect('mailto:' + mail)" class="btn btn-floating btn-so" type="button" mdbBtn mdbWavesEffect>
        <i class="fas fa-envelope"></i></button>
    </div>
  </div>
  <div class="container-fluid text-md-left mt-5">

    <!-- Grid row -->
    <div class="footer__row row mt-3">

      <!-- Grid column -->
      <div class="footer__tab" style="max-width: 15%">

        <!-- Content -->
        <h6 class="footer__tab--title">Dibodev</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Développeur web à Rennes. Création ou refonte de site
          internet, intégration, référencement, etc.</p>

      </div>
      <div class="row__right">
        <div class="footer__tab">

          <!-- Links -->
          <h6 class="footer__tab--title">Liens utiles</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a (click)="SmoothVerticalScrolling($event, '#about-us', 275, 'end', 200); ">À propos</a>
          </p>
          <p>
            <a (click)="SmoothVerticalScrolling($event, '#projets', 275, 'end', 120);">Portfolio</a>
          </p>
          <p>
            <a (click)="SmoothVerticalScrolling($event, '#competences', 275, 'end', 120);">Compétences</a>
          </p>
          <p>
            <a (click)="SmoothVerticalScrolling($event, '#contact', 275, 'end', 300);">Me contacter</a>
          </p>

        </div>
        <div class="footer__tab">

          <!-- Links -->
          <h6 class="footer__tab--title">Me contacter</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-graduation-cap mr-3"></i>Rennes - Epitech</p>
          <p>
            <i class="fas fa-envelope mr-3"></i>{{mail}}</p>
          <p>
            <i class="fas fa-phone mr-3"></i>+33 6 42 19 38 12</p>
        </div>
      </div>

    </div>

  </div>
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="{{appUrl}}"> dibodev.com</a>
  </div>
</footer>
