<!--<img id="developer-illustration" src="assets/images/landing-page-illustration.png" alt="developer-illustration">-->
<!--<h1>Léo développeur Web et étudiant.</h1>-->
<ul id="scene">
  <li class="layer" data-depth="0.0"></li>
  <li class="layer" data-depth="0.10">
    <div class="background"></div>
  </li>
  <li class="layer" data-depth="0.10">
    <div id="particules">
      <div class="first" id="star"></div>
    </div>
  </li>
  <li class="layer" data-depth="0.15">
    <div id="particules">
      <div class="second" id="star"></div>
    </div>
  </li>
  <li class="layer" data-depth="0.30">
    <div class="text">
      <p class="sub-title">We're currently working on our full site...</p>
    </div>
  </li>
  <li class="layer" data-depth="0.40">
    <div class="text">
      <h1>Redek Project</h1>
    </div>
  </li>
  <li class="layer" data-depth="0.42">
    <div id="particules">
      <div class="third" id="star"></div>
    </div>
  </li>
  <li class="layer" data-depth="0.60">
    <div id="particules">
      <div class="fourth" id="star"></div>
    </div>
  </li>
</ul>
