<div class="about__container">
  <div class="about__header">
    <img class="about__avatar" src="assets/images/about-avatar.png" alt="about page page background">
  </div>
  <div class="about__text">
    <h1 data-aos="fade-up">Qui suis-je ?</h1>
    <h2 data-aos="zoom-in">Hey 👋, je m'appelle Léo, j'ai 23 ans et j'habite aux alentours de Rennes. Après une
      expérience professionnel en cuisine, j'ai décidé de reprendre des études et partir dans un domaine qui me
      correspondait plus et me passionne depuis longtemps: le développement web. Je suis actuellement en formation
      Web@cadémie de 2 ans à Epitech Rennes. Curieux et passionné à propos de tout ce qui touche au web, j'essaie de
      rester à jour sur les technologies du web. Mes technologies que j'affectionne particulièrement sont React (Js et
      native) pour le front-end et NodeJs (Express), Laravel pour le back-end.
    </h2>
  </div>
</div>




