<div class="about__container">
  <div class="about__header">
    <img class="about__avatar" src="assets/images/about-avatar.png" alt="about page page background">
  </div>
  <div class="about__text">
    <h1 data-aos="fade-up">Hi, I’m Léo. Nice to meet you.</h1>
    <h2 data-aos="zoom-in">Since beginning my journey as a freelance designer nearly 10 years ago, I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually working on improving my chops one design problem at a time.</h2>
  </div>
</div>
