<div class="container">
  <form id="contact__form" (submit)="connect($event)">
    <mdb-card class="connect_card">
      <div class="card-body">
        <!-- Header -->
        <div class="form-header">
          <img src="assets/images/about-avatar.png" alt="avatar"
               class="rounded-circle img-responsive">
        </div>
        <h5 class="user__name">Léo</h5>
        <div class="md-form">
          <i class="fas fa-lock prefix grey-text"></i>
          <input mdbInput type="password" id="form-password" class="form-control" autocomplete="off"
                 [formControl]="passwordFormControl">
          <label for="form-password">Mot de passe</label>
          <mdb-error *ngIf="passwordFormControl.hasError('required')">
            Votre mot de passe est <strong>requis</strong>
          </mdb-error>
          <mdb-error *ngIf="passwordFormControl.hasError('maxlength')">
            Votre mot de passe doit comporter moins de 40 caractères.
          </mdb-error>
          <mdb-error *ngIf="passwordFormControl.hasError('minLength')">
            Votre mot de passe doit comporter au moins 6 caractères.
          </mdb-error>
          <mdb-error *ngIf="passwordFormControl.hasError('pattern')">Se connecter
            Caractère spéciaux non autorisé.
          </mdb-error>
        </div>
        <div class="center">
          <button
            mat-raised-button
            [disabled]="passwordFormControl.invalid || loading"
            class="button">
            <span class="submit">Se connecter</span>
            <span class="loading">
          <div class="spinner-grow" role="status">
            <span class="sr-only">Connexion...</span>
        </div>
            <div class="spinner-grow" role="status">
            <span class="sr-only">Connexion...</span>
        </div>
            <div class="spinner-grow" role="status">
            <span class="sr-only">Connexion...</span>
        </div>
        </span>
            <span class="check">Connexion réussie<i class="fa fa-check"></i></span>
          </button>
        </div>
      </div>
    </mdb-card>

  </form>
</div>
