<head>
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
</head>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport style="max-width: 350px; visibility: hidden;">
    <div class="sidenav__content">
      <button (click)="backHome()" style="margin-top: 6px;" _ngcontent-tnm-c132="" mat-icon-button="" color="warn"
              class=""><span class="mat-button-wrapper"><img
        id="homeLogo" src="assets/images/dibodev-developpeur-rennes-blue.png"
        alt="Logo dibodev développeur web à rennes"></span><span
        matripple=""
        class="mat-ripple mat-button-ripple mat-button-ripple-round"></span></button>
      <mat-nav-list id="mobile__list">
        <a _ngcontent-ums-c44="" mat-button=""
           class="tab__sm mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" tabindex="0"
           aria-disabled="false" (click)="scrollToElement('about-us'); drawer.toggle()"><span class="mat-button-wrapper"><span
          class="material-icons-round">question_answer</span> À propos</span><span matripple=""
                                                                                   class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
        <a _ngcontent-ums-c44="" mat-button=""
           class="tab__sm mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" tabindex="0"
           aria-disabled="false" (click)="scrollToElement('projets'); drawer.toggle()"><span class="mat-button-wrapper"><span class="material-icons-round">history_edu</span> Portfolio</span><span
          matripple=""
          class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
        <a _ngcontent-ums-c44="" mat-button=""
           class="tab__sm mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" tabindex="0"
           aria-disabled="false" (click)="scrollToElement('competences'); drawer.toggle()"><span class="mat-button-wrapper"><span class="material-icons-round">bar_chart</span> Compétences</span><span
          matripple=""
          class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
        <a _ngcontent-ums-c44="" mat-button=""
           class="tab__sm mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" tabindex="0"
           aria-disabled="false" (click)="scrollToElement('contact'); drawer.toggle()"><span class="mat-button-wrapper"><span
          class="material-icons-round">mail</span> Me contacter</span><span
          matripple=""
          class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
      </mat-nav-list>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button style="display: none" id="hamburger__btn"
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="nav__ctn">
        <button (click)="backHome()" _ngcontent-tnm-c132="" mat-icon-button="" color="warn"
                aria-label="Example icon button with a heart icon"
                class="mat-focus-indicator mat-icon-button mat-button-base mat-warn"><span
          class="mat-button-wrapper"><img
          id="homeLogo" src="assets/images/dibodev-developpeur-rennes-blue.png"
          alt="Logo dibodev développeur web à rennes"></span><span matripple=""
                                                                   class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
          class="mat-button-focus-overlay"></span></button>

      </div>
      <span class="spacer"></span>

      <div class="nav__menu--lg" id="scrollspy1">
        <a _ngcontent-ums-c44="" mat-button=""
           class="nav-link active mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted"
           tabindex="0"
           aria-disabled="false" (click)="scrollToElement('about-us')"><span class="mat-button-wrapper"><span
          class="material-icons-round">question_answer</span> À propos</span><span matripple=""
                                                                                   class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
        <a _ngcontent-ums-c44="" mat-button=""
           class="nav-link mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted"
           tabindex="0"
           aria-disabled="false" (click)="scrollToElement('projets')"><span class="mat-button-wrapper"><span
          class="material-icons-round">history_edu</span> Portfolio</span><span
          matripple=""
          class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
        <a offset="30" _ngcontent-ums-c44="" mat-button=""
           class="nav-link mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted"
           tabindex="0"
           aria-disabled="false" (click)="scrollToElement('competences')"><span class="mat-button-wrapper"><span
          class="material-icons-round">bar_chart</span> Compétences</span><span
          matripple=""
          class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
        <a _ngcontent-ums-c44="" mat-button=""
           class="nav-link mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted"
           tabindex="0"
           aria-disabled="false" (click)="scrollToElement('contact')"><span class="mat-button-wrapper"><span
          class="material-icons-round">mail</span> Me contacter</span><span
          matripple=""
          class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>


