<head>
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
</head>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [ngClass]="{hidden: !(isHandset$ | async)}"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <div class="sidenav__content">
      <button style="margin-top: 6px;" _ngcontent-tnm-c132="" mat-icon-button="" color="warn" aria-label="Example icon button with a heart icon"
              class="ml-none mat-focus-indicator mat-icon-button mat-button-base mat-warn"><span class="mat-button-wrapper"><img
        id="homeLogo" src="assets/images/dibodev-developpeur-rennes-blue.png" alt="Logo dibodev développeur web à rennes"></span><span
        matripple=""
        class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
        class="mat-button-focus-overlay"></span></button>
      <mat-nav-list id="mobile__list">
        <a _ngcontent-ums-c44="" mat-button=""
           class="tab__sm mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" tabindex="0"
           aria-disabled="false"><span class="mat-button-wrapper"><span
          class="material-icons-round">question_answer</span> À propos</span><span matripple=""
                                                                                   class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
        <a _ngcontent-ums-c44="" mat-button=""
           class="tab__sm mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" tabindex="0"
           aria-disabled="false"><span class="mat-button-wrapper"><span class="material-icons-round">history_edu</span> Portfolio</span><span
          matripple=""
          class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
        <a _ngcontent-ums-c44="" mat-button=""
           class="tab__sm mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" tabindex="0"
           aria-disabled="false"><span class="mat-button-wrapper"><span class="material-icons-round">bar_chart</span> Compétences</span><span
          matripple=""
          class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
        <a _ngcontent-ums-c44="" mat-button=""
           class="tab__sm mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" tabindex="0"
           aria-disabled="false"><span class="mat-button-wrapper"><span class="material-icons-round">mail</span> Me contacter</span><span
          matripple=""
          class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
      </mat-nav-list>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="nav__ctn">
        <button _ngcontent-tnm-c132="" mat-icon-button="" color="warn" aria-label="Example icon button with a heart icon"
                class="mat-focus-indicator mat-icon-button mat-button-base mat-warn"><span class="mat-button-wrapper"><img
          id="homeLogo" src="assets/images/dibodev-developpeur-rennes-blue.png"
          alt="Logo dibodev développeur web à rennes"></span><span matripple=""
                                                                   class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
          class="mat-button-focus-overlay"></span></button>

      </div>
      <span class="spacer"></span>

      <div class="nav__menu--lg" id="scrollspy1">
        <a mat-button routerLink="/work">Teams</a>

        <a _ngcontent-ums-c44="" mat-button=""
           class="mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" tabindex="0"
           aria-disabled="false"><span class="mat-button-wrapper"><span
          class="material-icons-round">question_answer</span> À propos</span><span matripple=""
                                                                                   class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
        <a _ngcontent-ums-c44="" mat-button=""
           class="mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" tabindex="0"
           aria-disabled="false"><span class="mat-button-wrapper"><span class="material-icons-round">history_edu</span> Portfolio</span><span
          matripple=""
          class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
        <a _ngcontent-ums-c44="" mat-button=""
           class="mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" tabindex="0"
           aria-disabled="false"  href="#compétences"><span class="mat-button-wrapper"><span class="material-icons-round">bar_chart</span> Compétences</span><span
          matripple=""
          class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
        <a _ngcontent-ums-c44="" mat-button=""
           class="mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" tabindex="0"
           aria-disabled="false"><span class="mat-button-wrapper"><span class="material-icons-round">mail</span> Me contacter</span><span
          matripple=""
          class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></a>
      </div>


    </mat-toolbar>
    <router-outlet></router-outlet>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
