<svg class="loader" viewBox="0 0 100 100" overflow="visible">
  <g class="core">
    <circle class="path" cx="50" cy="50" r="1" fill="none" />
  </g>
  <g class="spinner">
    <circle class="path" cx="50" cy="50" r="20" fill="none" />
  </g>
  <g class="layer-1">
    <circle class="path" cx="50" cy="50" r="70" fill="none" />
  </g>
  <g class="layer-2">
    <circle class="path" cx="50" cy="50" r="120" fill="none" />
  </g>
  <g class="layer-3">
    <circle class="path" cx="50" cy="50" r="180" fill="none" />
  </g>
  <g class="layer-4">
    <circle class="path" cx="50" cy="50" r="240" fill="none" />
  </g>
  <g class="layer-5">
    <circle class="path" cx="50" cy="50" r="300" fill="none" />
  </g>
  <g class="layer-6">
    <circle class="path" cx="50" cy="50" r="380" fill="none" />
  </g>
  <g class="layer-7">
    <circle class="path" cx="50" cy="50" r="450" fill="none" />
  </g>
  <g class="layer-8">
    <circle class="path" cx="50" cy="50" r="540" fill="none" />
  </g>
</svg>
