<app-navigation>
</app-navigation>
<div class="main">
  <!--Stepper add project-->
  <mdb-card class="add__projet--card">
    <div class="two alt-two mt-2" data-aos="zoom-in">
      <h1 style="margin-top: 16px;">Ajouter une catégorie
      </h1>
    </div>
    <form id="add__project" (submit)="submitData($event)">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step>
          <ng-template matStepLabel>Infos de la catégorie</ng-template>
          <!--Step 1 - Row 1-->
          <div class="form__group">
            <div class="md-form" style="width: 100%; margin-right: 16px;">
              <mdb-icon style="color: #d3334d" fas icon="info-circle" class="prefix"></mdb-icon>
              <input mdbInput type="text" id="name" class="form-control" autocomplete="off"
                     [formControl]="nameFormControl" required>
              <label for="name">Nom</label>
              <mdb-error *ngIf="nameFormControl.hasError('required')">
                Ce champ est <strong>requis</strong>
              </mdb-error>
              <mdb-error *ngIf="nameFormControl.hasError('maxlength')">
                Ce champ doit comporter moins de <strong>60</strong> caractères.
              </mdb-error>
              <mdb-error *ngIf="nameFormControl.hasError('minlength')">
                Ce champ doit comporter au moins <strong>2</strong> caractères.
              </mdb-error>
              <mdb-error *ngIf="nameFormControl.hasError('pattern')">
                Caractère spéciaux non autorisé.
              </mdb-error>
            </div>

            <div class="md-form" style="width: 100%">
              <mdb-icon style="color: #d3334d" far icon="image" class="prefix"></mdb-icon>
              <input mdbInput style="cursor: pointer" type="text" id="image" class="form-control" autocomplete="off"
                     [formControl]="imageControl" required readonly [value]="fileImageName"
                     (click)="image_input.click()">
              <label for="image">Image</label>
              <mdb-error *ngIf="imageControl.hasError('required')">
                Ce champ est <strong>requis</strong>
              </mdb-error>
              <input
                type="file"
                hidden
                accept="image/*"
                #image_input
                (change)="handleFileInputChange(image_input.files, $event)"
              />
            </div>
          </div>

          <!--Step 1 - row 2-->
          <div class="md-form">
            <h4 style="margin-bottom: 0;">Activé la fonctionnalité (voir projet)</h4>
            <mat-form-field class="boolean__category" appearance="fill" style="width: 100%;">
              <mat-label>Choisir une option</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="btnDisable" id="btnDisable"
                          [formControl]="btnDisableControl">
                <mat-option *ngFor="let boolean of booleans" [value]="boolean.value">
                  {{boolean.viewValue}}
                </mat-option>
              </mat-select>
              <mdb-error *ngIf="btnDisableControl.hasError('required')">
                Ce champ est <strong>requis</strong>
              </mdb-error>
            </mat-form-field>
          </div>

          <!--Step 1 - Row 3-->
          <h4>Note de la compétences</h4>
          <div class="cont">
            <div class="stars">
              <ngx-star-rating [(ngModel)]="rating" [id]="'rating'" name="rating"></ngx-star-rating>
            </div>
            <div class="note__count">Note: {{ rating + ' / ' + maxRating}}</div>
          </div>


          <div class="container__actionBtn">
            <button mdbBtn type="button" class="next__btn" matStepperNext mdbWavesEffect>Suivant
              <mdb-icon style="margin-left: 8px;
              font-size: 16px;" fas icon="angle-double-right"></mdb-icon>
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Confirmation</ng-template>
          <h3 class="confirm__text">Confirmer l'ajout de la catégorie {{changeCategoryName}} ?</h3>
          <button mdbBtn type="submit" class="next__btn" matStepperNext mdbWavesEffect
                  [disabled]="btnDisableControl.invalid || nameFormControl.invalid || isError"
          >Valider
            <mdb-icon style="margin-left: 8px;
              font-size: 16px;" fas icon="check"></mdb-icon>
          </button>
          <div class="container__actionBtn">
            <button mdbBtn type="button" class="prev__btn" matStepperPrevious mdbWavesEffect>
              <mdb-icon style="margin-right: 8px;
              font-size: 16px;" fas icon="angle-double-left"></mdb-icon>
              Précédent
            </button>
            <button mdbBtn type="button" class="next__btn" mdbWavesEffect (click)="stepper.reset(); resetStepper()">
              Réinitialiser
              <mdb-icon style="margin-left: 8px;
              font-size: 16px;" fas icon="trash-alt"></mdb-icon>
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </mdb-card>
</div>
